{% layout 'layout.liquid' %}
{% block content %}
  <div class="col-mb-4">
    <h1 class="display-4">Welcome To The Bazaar!</h1>
    <p>This wonderous market has near anything you could imagine</p>
  </div>
  <div class="btn-group btn-group-lg mt-4">
    <a href="/user/signup" class="btn btn-success">Sign Up</a>
    <a href="/user/login" class="btn btn-success">Login</a>
  </div>
{% endblock %}